* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}
body {
    font-size: 1.6rem;
}

.container {
    padding: 5rem 18.7rem;
    height: 70rem;
    width: 100%;
    background-color: #aeb4b6;
    display: flex;
    justify-content: space-between;
}

.box{
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
}

.box1{
    background-color: red;
    &:hover{
        background-color: blue;
        cursor: pointer;
    }
}

.box2{
    background-color: blue;
    &:hover{
        background-color: green;
        cursor: pointer;
    }
}

.box3{
    background-color: green;
    &:hover{
        background-color: red;
        cursor: pointer;
    }
}

