* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
}

.container {
  padding: 5rem 18.7rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer h2 {
  font-weight: 600;
  font-size: 1.6rem;
}
.footer ul {
  list-style-type: none;
  margin-top: 2.7rem;
  font-size: 1.6rem;
  line-height: 3rem;
  word-spacing: 2px;
}
.footer a {
  text-decoration: none;
  color: #a9a8ac;
}